<%= content_for(:tab_title) do %>
Classmates Summer School
<% end %>

<h1>User Dashbaord</h1>
<div class="container col-sm-12">
  <div class="row">

    <% User.all.each do |user| %>


    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card_user" style="">
        <% if user.photo.filename %>
          <%= cl_image_tag user.photo, height: 180, width: 286, crop: :fill, :quality=>"auto:eco", :fetch_format=>:auto,  class: "card-img-top" %>
        <% else %>
          <%= image_tag "https://picsum.photos/286/180/?random", height: 180, width: 286, class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= user.name %></h4>
          <p class="card-text"><%= user.email %></p>
          <% if user.ta %>
            <div class="role">Teaching Assistant</div>
          <% else %>
            <div class="role">Student</div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
