<h1>Open Tickets</h1>
<h2>User:<%= user_signed_in? ? current_user.name : "logged out" %></h2>
<% if policy(Ticket).new? %>
  <%= link_to "New Ticket", new_ticket_path %>
<% end %>
<br>
<br>
<% @tickets.all.each do |ticket| %>
  <p>Question: <%= ticket.question %></p>
  <p>Student: <%= ticket.student.name %></p>


  <p>TA: <%= ticket.ta ? ticket.ta.name : "Unassigned" %></p>
  <p>Status: <%= ticket.status %></p>
  <% if user_signed_in? && current_user.ta == true %>
    <%= link_to "Take Ticket", assign_ticket_path(ticket), class: "", method: :patch %>
    <br>
    <%= link_to "Mark as Solved", solved_ticket_path(ticket), class: "", method: :patch %>
  <% end %>

  <br>

  <% if policy(ticket).edit? %>
    <%= link_to "Edit", edit_ticket_path(ticket), class: ""%>
  <% end %>  <br>

  <% if policy(ticket).destroy? %>
    <%= link_to "Delete ", ticket_path(ticket), class: "", method: :delete%>
  <% end %>
  <p>---------------------------------------</p><br>
<% end %>
